// 颜色定义规范
$blue-dark = #092741
$blue-middle = #00508D
$blue-shallow = #007BB3
$white = #ffffff
$grey =  #E5E7E8
$text =  #0085C4
$line = #0085C1
$border = #E6E6E6
//字体定义规范
$font-size-extra-extra-small = 12px
$font-size-extra-small = 13px
$font-size-small = 14px
$font-size-medium = 16px
$font-size-large = 18px
$font-size-extra-large = 20px