html, body
  width 100%
  height 100%
  background-color #222
.root
  width 100%
  height 100%
.stage
  position relative
  width 100%
  height 100%
  .img-sec
    position relative
    width 100%
    height 100%
    overflow hidden
    background-color #ddd
    /.img-figure
      position absolute
      width 280px
      height 420px
      font-size 0
      box-sizing border-box
      background-color #fff
      cursor pointer
      perspective 1800px
      transform-origin 0 50% 0
      transform-style preserve-3d
      transition transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out
      &.is-inverse
        transform translate(280px) rotateY(180deg)
      .img-front, .img-back
        position absolute
        left 0
        top 0
        padding 40px
        width 280px
        height 420px
        box-sizing border-box
        backface-visibility hidden
      .img-front
        z-index 2
        transform rotateY(0deg)
        .img-title
          text-align center
          margin-top 20px
          font-size 20px
          font-weight 700
          color #a7a0a2
      .img-back
        transform rotateY(180deg)
        font-size 20px
        color #666
  .controller-nav
    position absolute
    left 0
    bottom 30px
    width 100%
    text-align center
    z-index 100
