// 颜色定义规范
$color-text-main = #303133
$color-text = #606266
$color-text-minor = #909399
$color-text-occupied = #C0C4CC
$color-text-white = #ffffff
$color-text-hover = #ff9600
$color-info = #909399
$color-success = #67C23A
$color-blue = #409EFF
//字体定义规范
$font-size-extra-extra-small = 12px
$font-size-extra-small = 13px
$font-size-small = 14px
$font-size-medium = 16px
$font-size-large = 18px
$font-size-extra-large = 20px